{% extends "base.html" %}

{% load bootstrap5 %}
{% load product_tags %}

{% block title %}{% if group.name %}{{ group.name }}{% else %}Все категории{% endif %}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'product:product_group_list' %}">Каталог</a></li>
        <li class="breadcrumb-item"><a href="{% url 'product:products' %}">Все категории</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ group.name }}</li>
      </ol>
    </nav>


    <div class="row mb-3 text-center">
        <div class="col-3 text-start">
          <p class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold">Фильтры</span>
          </p>
          <form id="filterform" method="get">
              {% bootstrap_form filter_set.form exclude='search, order' %}
              <p><input type="submit" value="Применить"></p>
          </form>
      </div>

      <div class="col-9 themed-grid-col">
        <div class="input-group mb-3">
          <input form="filterform" type="text" class="form-control" placeholder="Intel 12400F" aria-label="Поиск" aria-describedby="button-addon2" name="search" id="id_search" value="{{ search_value }}">
          <button form="filterform"  class="btn btn-outline-secondary" type="submit" id="button-addon2">Поиск</button>
        </div>

        <div class="row">
            <div class="col-8">
                {% include "pagination.html" with page=page_obj page_range=page_range %}
            </div>

            <div class="col-4">
                <div class="btn-group d-flex justify-content-between" >
                  <button class="btn btn-outline--secondary btn-sm dropdown-toggle mx-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Сортировка:
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="?{% query_transform order=price %}">Сначала недорогие</a></li>
                    <li><a class="dropdown-item" href="?{% query_transform order='-price' %}">Сначала дорогие</a></li>
                  </ul>
                  <button class="btn btn-primary btn-sm ml-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                  Текущая сборка
                  </button>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 g-2 gap-3">
            {% for product in products %}
            {% include "product/product/card.html" %}
            {% empty %}
            <div>Комплектующие не найдены</div>
            {% endfor %}
        </div>
        {% include "pagination.html" with page=page_obj page_range=page_range %}
      </div>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Текущая сборка</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" id="assembly">
      </div>
    </div>

<script>
    function load_assembly(){
        blockRequest = true;
        fetch("{% url 'assembly:user_assembly' %}")
        .then(response => response.text())
        .then(html => {
            if (html === '') {
                emptyPage = true;
            }
            else {
                var assembly = document.getElementById('assembly');
                assembly.innerHTML = html;
                nodeScriptReplace(assembly);
                blockRequest = false;
            }
        })
    }

    function nodeScriptReplace(node) {
            if ( nodeScriptIs(node) === true ) {
                    node.parentNode.replaceChild( nodeScriptClone(node) , node );
            }
            else {
                    var i = -1, children = node.childNodes;
                    while ( ++i < children.length ) {
                          nodeScriptReplace( children[i] );
                    }
            }

            return node;
    }

    function nodeScriptClone(node){
            var script  = document.createElement("script");
            script.text = node.innerHTML;

            var i = -1, attrs = node.attributes, attr;
            while ( ++i < attrs.length ) {
                  script.setAttribute( (attr = attrs[i]).name, attr.value );
            }
            return script;
    }

    function nodeScriptIs(node) {
            return node.tagName === 'SCRIPT';
    }
</script>

{% endblock %}

{% block domready %}
    load_assembly();

    var state_switches = document.querySelectorAll('.state_switch')

    state_switches.forEach(element => {element.addEventListener('click', function(e){
			var options = {
				method: 'POST',
				headers: {'X-CSRFToken': '{{ csrf_token }}',
                          'Accept': 'application/json',
                          'Content-Type': 'application/json'
                          },
				mode: 'same-origin',
                body: JSON.stringify({
                                       'product_id': element.dataset.id,
                                       'operation':  element.dataset.operation,
                                       'state':      element.checked
                                       })
				}

			url = '{% url 'state_operation' %}';
            fetch(url, options)
                .then(response => response.json())
                .then(json => {
                    element.checked = json.state

                    if (element.dataset.operation == 'assembly_submit'){
                        load_assembly();
                    }
                });
        })
    })

{% endblock %}