{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button class="btn btn-primary" type="submit">Изменить пароль</button>
        </form>
    {% else %}
        <p>Неверная ссылка на сброс пароля. Возможно она уже была использована. Запросите сброс пароля еще раз.</p>
    {% endif %}
{% endblock %}